@mixin center{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin row{
  display: flex;
  align-items: center;
}

@mixin col{
  @include row();
  flex-direction: column;
}

@mixin line{
  background-color: transparent;
  height: 0px;
  border-bottom: 3px solid white;
}

@mixin b-line{
  background-color: transparent;
  height: 0px;
  border-bottom: 3px solid black;
}

@mixin hoverer1{
  transition: all 0.3s;
  &:hover{
    opacity: 0.9;
    transform: translate(-1%,-2%);
  }
}

@mixin hoverer2{
  transition: all 0.2s;
  opacity: 0.7;
  &:hover{
    opacity: 1;
  }
}

@mixin hoverer3{
  transition: all 0.2s;
  opacity: 1;
  &:hover{
    opacity: 0.7;
  }
}

@mixin sbstyle{
  padding: 5px 20px;
  background-color: black;
  color: white;
  font-weight: 500;
  transition: all 0.2s;
  font-size: 18px;
  &:hover{
    opacity: 0.7;
  }
}

@mixin nooutline{
  &:focus{
    outline: none;
  }
}

$mobile-break: 576px;
$tablet-break: 918px;
$smalllaptop-break: 1024px;

:root{
  --primary-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --blue: rgb(0, 68, 196);
  --orange: rgb(255, 184, 77);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
  background-color: black;
}

main{
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sb{
 @include sbstyle();
}

.gb{
  @include sbstyle();
  background-color: lightgray;
  color: black;
  border: none;
}

.rb{
  @include sbstyle();
  background-color: red;
}


.si{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  font-size: inherit;
  font-weight: inherit;
  transition: all 0.1s;
  &:focus{
    border-bottom: 4px solid orange;
    outline: none;
  }
}

.gob{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  @include center();
  background-color: rgba(0,0,0,0.4);
  .popup{
    padding: 15px;
    background-color: white;
    border-radius: 5px;
  }
}

header{
  padding: 1vh 2vw;
  display: grid;
  grid-template-columns: auto 1fr;
  color: white;
  h1{
    margin: 0px;
  }
  .menu-button{
    background-color: transparent;
    padding: 0px;
    color: white;
    font-size: 18px;
    border: none;
    display: none;
  }
  #dropdown-container{
    @include row();
    justify-content: space-between;
    width: auto;
    ul{
      display: flex;
      list-style: none;
      margin-left: 10vw;
      padding: 0px;
      align-items: center;
      li{
        opacity: 1;
        margin: 0px 3vw;
      }
    }
    .account-container{
      @include row();
      .account-section{
        margin-left: auto;
        @include row();
        background-color: rgb(224, 224, 224);
        padding: 5px 10px;
        border-radius: 10px;
        .usericon{
          margin-right: 10px;
          background-image: url("/usericon.png");
          height: 25px;
          width: 25px;
          background-size: contain;
          background-position: center;
          border-radius: 20%;
        }
        span{
          color:black
        }
      }
    }
  }
}

#top-homepage{
  margin: 10px;
  margin-top: 10vh;
  color: lightgray;
  h6{
    font-size: 18px;
    margin: 0px;
  }
  p{
    margin: 0px;
    font-size: 10px;
  }
}

.homepage-divider{
  @include row();
  .collage{
    color:white;
    ul#collage-list{
      list-style: none;
      margin: 0px;
      padding: 0px;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      width: 450px;
      li.collage-item{
        height: 150px;
        width: 150px;
        background-size: cover;
        background-position: center;
        opacity: 0.3;
        @include row();
        align-items: flex-end;
        &:hover{
          opacity: 0.4;
        }
        &.focused{
          opacity: 1;
        }
        .dateWritten{
          background-color: white;
          color: black;
          font-weight: bold;
          padding: 5px 10px;
        }
      }
    }
  }

  .right{
    color: white;
    margin-left: 30px;
    position: relative;
    margin-right: 30px;
    h2{
      font-size: 36px;
      margin: 0px;
    }
    p{
      margin: 0px;
    }
    .link-to-post, #click-arrow{
      position: absolute;
      bottom: -40px;
      left: 0px;
      padding: 5px 15px;
      color: black;
      font-weight: bold;
      width: 150px;
      text-align: center;
      display: block;
      background-color: orange;
      transition: all 0.2s;
      &:hover{
        background-color: rgb(64, 224, 0);
      }
    }
    #click-arrow{
      background-color: white;
      top: -100px;
      height: 30px;
      width: 250px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      left: -40px;
      span{
        height: 20px;
        width: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
      }
    }
  }
}

@media (max-width: $mobile-break){
  header{
    padding: 1vh 5vw;
    .menu-button{
      display: block;
      margin-left: auto;
      @include hoverer3();
    }
    #dropdown-container{
      grid-row: 2/3;
      grid-column: 1/3;
      @include col();
      ul{
        margin: 20px 0px;
        @include col();
        li{
          margin: 5px;
          font-size: 16px;
        }
      }
    }
  }

  .homepage-divider {
    display: block;
    .collage ul#collage-list {
      width: 100vw;
      li.collage-item{
        width: 33.33vw;
        height: 33.33vw;
        div{
          font-size: 12px;
        }
      }
    }
    .right{
      margin: 30px 10px 0px 10px;
      h2{
        font-size: 24px;
      }
      p{
        font-size: 12px;
      }
    }
  }

}

#listscaffold{
  #heading{
    width: 100%;
    min-height: 20vw;
    @include center();
    flex-direction: column;
    h2{
      font-size: 50px;
      color:white;
      font-weight: 100;
    }
    p{
      @include line();
      width: 60%;
    }
  }
}

@media (max-width: $mobile-break){
  #listscaffold{
    #heading{
      margin: 20px 0px;
      h2{
        font-size: 30px;
        margin: 20px 0px;
      }
      p{
        margin: 0px;
      }
    }
  }
}

#posts-list{
  @include row();
  flex-direction: column;
  margin-top: 20vh;
  padding: 0px;
  margin-bottom: 50vh;
}

button.more-posts{
  text-align: center;
  font-weight: bold;
  background-color: white;
  border: none;
  padding: 10px 30px;
  font-size: 20px;
  @include hoverer1();
}

#single-post{
  margin-bottom: 10vh;
  @include hoverer1();
  max-width: 1200px;
  width: 90vw;
  aspect-ratio: 5/2;
  background-color: white;
  color:black;
  display: grid;
  grid-template-columns: 2fr 3fr;
  position: relative;
  .post-image{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .post-info{
    padding: 5%;
    h3{
      font-size: 2.7vw;
      margin: 0px;
    }
    .subtitle{
      font-size: 1vw;
      margin: 5px 0px 15px 0px;
    }
    .author{
      margin: 0px;
      font-weight: bold;
    }
    .featured{
      margin: 10px auto 0px 0px;
      width: 90px;
      text-align: center;
      padding: 3px 15px;
      border-radius: 5px;
      font-size: 16px;
      background-color: var(--blue);
      color: white;
    }
    .date{
      position: absolute;
      bottom: 0px;
      right: 0px;
      padding: 15px;
      margin: 0px;
      font-weight: bold;
    }
  }
}

@media (max-width: $mobile-break){
  #single-post{
    @include col();
    align-items: flex-start;
    aspect-ratio: none;
    .post-image{
      height: 40vh;
    }
    .post-info{
      h3{
        font-size: 22px;
      }
      p.subtitle, p.author, p.featured{
        font-size: 12px;
      }
      p.date{
        font-size: 14px;
      }
    }
  }
}


#post{
  background-color: white;
  margin-top: 10vh;
  box-shadow: 5px 5px 10px white;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  padding: 5vh 5vw;
  min-height: 100vh;
  color:black;
  position: relative;
  #title-section{
    position: absolute;
    top: 0px;
    transform: translateY(-50%);
    left: 5%;
    min-width: 60%;
    background-color: lightgrey;
    box-shadow: 3px 3px 5px grey;
    padding: 10px 20px;
    h2{
      margin: 0px;
      font-weight: bold;
      font-size: 36px;
    }
    p{
      margin: 0px;
      font-size: 16px
    }
  }
  #first-row{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 3vh;
    div{ 
      padding-left: 20px; //to match up with title text
      #post-date{
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: bolder;
        margin: 20px 0px 10px 0px;
        span{
          font-size: 15px;
          font-weight: 100;
          margin-left: 15px;
          
        }
      }
      #post-author{
        margin: 0px;
      }
    }
    ul{
      display: flex;
      padding: 0px;
      list-style: none;
      justify-content: space-between;
      li{
        margin: 0px 20px;
      }
    }
  }

  #isFeatured{
    margin: 20px 0px 0px 20px;
    font-size: 18px;
    button{
      border: none;
      border-radius: 5px;
      padding: 3px 20px;
      transition: all 0.3s;
      &:hover{
        opacity: 0.7;
      }
    }
    .featured{
      background-color: var(--blue);
      color: white;
      display: inline;
      border-radius: 5px;
      padding: 3px 20px;
    }
  }

  #isPrivate{
    button{
      padding: 3px 15px;
      border-radius: 5px;
      color: white;
      transition: all 0.2s;
      margin: 20px;
      border: none;
      font-size: 16px;
      &.private{
        background-color: red;
      }
      &.public{
        background-color: green;
      }
    }
  }

  #jumbo-image{
    width: 80%;
    height: 30vw;
    margin: 15vh auto;
    background-position: center;
    @include center();
    #upload-jimage{
      padding: 10px 20px;
      background-color: white;
      font-size: 20px;
      opacity: 0.7;
      transition: all 0.2s;
      p{
        font-weight: bolder;
        text-align: center;
        margin-bottom: 10px;
      }
      &:hover{
        opacity: 1;
      }
    }
  }


  #topics{
    margin-top: 20vh;
    #input-topic{
      @include row();
      input{
        font-size: 20px;
      }
      button{
        margin-left: 15px
      }
    }
    ul{
      @include row();
      list-style: none;
      flex-wrap: wrap;
      padding: 0px;
      margin: 20px 0px;
      li{
        margin-right: 15px;
        padding: 2px 15px;
        border-radius: 10px;
        background-color: lightgrey;

        button{
          margin-left: 5px;
          border: none;
          border-radius: 20%;
          font-weight: bold;
          box-shadow: 0px 0px 3px lightgrey;
          &:hover{
            opacity: 0.7;
          }
        }
      }
      li:nth-child(1){
        font-size: 1.2em;
        font-weight: bolder;
        background-color: transparent;
        padding: 0px;
      }
    }
  }

  #explore-more {
    margin-top: 20vh;
    h6{
      font-size: 26px;
    }
    #other-posts{
      list-style: none;
      padding: 0px;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      .other-post{
        background-color: black;
        margin: 10px;
        box-shadow: 3px 3px 5px grey;
        position: relative;
        transition: all 0.3s;
        border-radius: 10px;
        .j-image-other{
          transition: all 0.3s;
          width: 100%;
          height: 20vw;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          background-position: center;
        }
        &:hover{
          transform: translate(-5px,-5px);
          .j-image-other{
            opacity: 0.7;
          }
        }
        
        .other-info{
          color:white;
          padding: 20px;
          h3, p, div{
            margin: 0px 0px 5px 0px;;
          }
          h3{
            font-size: 20px;
          }
          p{
            font-size: 12px;
            margin-top: -3px;
          }
          div{
            font-size: 14px;
            color:lightgray
          }
        }
      }
    }
  }

  #unsaved-warning{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: red;
    color: yellow;
    text-align: center;
    font-weight: bold;
    padding: 2px 0px;
  }
}


//For both blog post AND about page
#blog-text{
  width: 100%;
  margin: 0px auto;
  #toggler{
    button{
      opacity: 0.7;
      transition: all 0.2s;
      font-size: 20px;
      border: none;
      margin-right: 10px;
      padding: 5px 20px;
      &:hover{
        opacity: 1;
      }
      &.on{
        opacity: 1;
      }
    }
  }
  #blog-body {
    font-size: 1.5em;
    a{
      text-decoration: underline;
      color: purple;
    }
    textarea{
      min-height: 100vh;
      min-width: 100%;
      max-width: 100%;
      font-size: 1em;
      width: 100%;
      font-family: var(--primary-font);
      padding: 15px;
      margin-top: 30px;
      border: 3px solid black;
      border-radius: 5px;
      background-color: rgb(241, 241, 241);
      &:focus{
        background-color: white;
        outline: none;
      }
    }
  }
}

@media (min-width: $mobile-break) and (max-width: $tablet-break){
  #post{
    #first-row{
      ul{
        display: none;
      }
    }
    #explore-more #other-posts{
      grid-template-columns: repeat(2,1fr);
      .other-post:nth-child(3){
        grid-column: 1/3;
      }
    }
  }
}

@media (max-width: $mobile-break){
  #post{
    #title-section{
      width: 80vw;
      overflow-x: scroll;
      #post-title{
        font-size: 24px;
      }
      #post-subtitle{
        font-size: 12px;
      }
    }
    #first-row{
      ul{
        display: none;
      }
      div {
        #post-date{
        @include col();
        align-items: flex-start;
        font-size: 15px;
        span{
          font-size: 13px;
          margin: 0px;
        }
        }
        #post-author{
          font-size: 14px;
        }
      }
    }
    #isFeatured{
      font-size: 15px;
    }
    #jumbo-image{
      width: 100%;
      height: 30vh;
      #upload-jimage{
        font-size: 12px;
        width: 80%;
        padding: 5px;
      }
    }
    #blog-text #blog-body{
      font-size: 1em;
    }
    #topics{
      #input-topic{
        flex-wrap: wrap;
      }
    }
    #explore-more{
      #other-posts{
        @include col();
        .other-post{
          width: 90%;
          margin: 20px 0px;
          .j-image-other{
            height: 40vh;
          }
        }
      }
    }
  }
}



#editor-space{
  background-color: rgb(29, 156, 25);
  border: none;
  position: fixed;
  bottom: 0px;
  right: 0px;
  h6{
    font-size: 20px;
    margin: 10px 40px;
  }
  button{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 0px;
    transition: all 0.3s;
    &:hover{
      opacity: 0.7;
    }
  }
}


#add-post{
  background-color: green;
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  transition: all 0.2s;
  border: none;
  z-index: 100;
  &:hover{
    opacity: 0.7;
  }
  &:focus{
    outline: none;
  }

}

#auth-container{
  @include center();
  width: 100%;
  height: 90vh;
  #auth-container-center{
    max-width: 90vw;
    @include col();
    input{
      margin-right: 10px;
      font-size: 1.3em;
    }
    .loggedIn{
      @include col();
      h2{
        margin: 0px 0px 10vh 0px;
      }
      p{
        margin-top: 3px;
      }
      .sb{
        margin-top: 20px;
      }
    }
    padding: 20px;
    background-color: white;
    border-radius: 10px;
  }
}

@media (max-width: $mobile-break){
  #auth-container{
    #auth-container-center{
      .login{
        input{
          margin-bottom: 10px;
        }
      }
    }
  }
}

#topics-list{
  padding: 0px;
  @include col();
  li{
    width: 80vw;
    height: 25vw;
    margin-bottom: 10vh;
    background-position: center;
    @include hoverer1();
    .topic{
      background-color: rgba(256,256,256,0.8);
      padding: 20px 2vw;
      width: 100%;
      height: 100%;
      position: relative;
      h3{
        margin: 0px;
        margin-left: 5%;
        margin-top: 30px;
        font-size: 3vw;
      }
      p.horiz-line{
        @include b-line();
        width: 60%;
        transform: translateX(-10%);
      }
      p.vert-line{
        height: 70%;
        border-left: 3px solid black;
        position: absolute;
        top: 2%;
        left: 5%;
      }
      p.description{
        margin-left: 5%;
        font-size: 1.7vw;
        margin-right: 10%;
      }
    }
  }
}

@media (max-width: $mobile-break){
  #topics-list{
    margin: 10vh 0px;
    li{
      margin-bottom: 30px;
      width: 90vw;
      height: 40vh;
      .topic{
        h3{
          font-size: 26px;
        }
        p.description{
          font-size: 14px;
        }
        h3, p.description{
          margin-left: 25px;
        }
      }
    }
  }
}

#comments{
  margin: 20vh 0px;
  h6{
    font-size: 30px;
    margin: 0px;
  }
  .add-comment-section{
    margin: 15px 0px;
    padding: 5px 10px;
    background-color: rgb(167, 167, 167);
    box-shadow: 3px 3px 5px rgb(151, 151, 151);
    h6{
      font-size: 16px;
      margin: 0px;
    }
    input{
      font-family: var(--primary-font);
      display: block;
      margin: 0px;
      margin-bottom: 5px;
      border: none;
      font-size: 12px;
      padding: 3px 5px;
      font-weight: bold;
      background-color: lightgray;
      &:focus{
        outline: none;
      }
    }
    textarea{
      font-family: var(--primary-font);
      max-width: 100%;
      min-width: 100%;
      padding: 5px 10px;
      border: none;
      max-height: 35px;
      min-height: 35px;
      font-size: 16px;
      margin: 0px;
      border-bottom: 2px solid black;
      &:focus{
        outline: none;
      }
    }
    .post-comment{
      padding: 5px 15px;
      font-weight: bold;
      border: none;
      background-color: black;
      color: white;
      &:hover{
        background-color: green;
      }
    }
  }
  .login-to-comment{
    margin: 0px;
    margin-bottom: 5vh;
    font-size: 12px;
  }
  ul{
    list-style: none;
    padding: 0px;
    li{
      margin: 30px 0px;
      .comment-first-row{
        @include row();
        font-size: 12px;
        margin-bottom: 5px;
        .comment-username{
          font-weight: bold;
          font-weight: 14px;
        }
        .comment-dateAdded{
          margin: 0px 10px;
        }
        button{
          background-color: transparent;
          padding: 0px;
          color: red;
          font-weight: bold;
          border: none;
          @include hoverer2();
        }
      }
      .comment-text{
        font-size: 18px;
        font-weight: 100;
      }
      .replies{
        margin-left: 20px;
        .write-reply button{
            background-color: transparent;
            border: none;
            @include nooutline();
            color: var(--blue);
            font-weight: bold;
            opacity: 0.7;
            margin: 10px 0px;
            transition: all 0.2s;
            padding: 0px;
            &:hover{
              opacity: 1;
            }
          }
        li{
          margin: 0px;
          margin-bottom: 20px;
        }
      }
      
    }
  }
  .get-more-comments{
    color: rgb(95, 95, 95);
    font-weight: bolder;
    padding: 0px;
    background-color: transparent;
    border: none;
    @include hoverer2();
  }
  .no-comments-text{
    width: 100%;
    height: 30vh;
    color: grey;
    @include center();
  }
}

.delete-comment-popup{
  h6{
    font-size: 18px;
    margin: 0px;
    margin-bottom: 10px;
  }
  div{
    @include row();
    .rb{
      margin-right: 10px;
    }
  }
}

#about-body{
  color: white;
  width: 80vw;
  margin: 0px auto 30vh auto;
  font-size: 18px;
}

#private-no-access{
  width: 100%;
  height: 90vh;
  @include center();
  color: white;
}

footer{
  @include center();
  color:white;
  min-height: 10vh;
}
